language: objective-c

osx_image: xcode7.1
xcode_sdk: iphonesimulator9.0

before_install:
- rvm install 2.1.5
- gem install cocoapods
- pod install --project-directory=Example

script:
- set -o pipefail && xcodebuild test -workspace Example/SwiftyTraverson.xcworkspace -scheme SwiftyTraverson-Example -destination "platform=iOS Simulator,name=iPhone 6" | xcpretty
- pod lib lint
